#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}


 .titlehomework {
    font-size: 14px;
    color:green;
    
}


.gallery__flex {
    max-width: 1280px;
 margin: 0;
 padding: 0;
    display: flex;
   
    height: 600px;
    
}
.gallery__item{
  flex: 1;
  transition: flex-grow 0.64s ease-in-out,transform 0.64s ease-in-out  ;

}
.gallery__item:hover {
    flex-grow: 10;

    
    /* при наведении меняем значение flex */
}

.gallery__item img {

    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
   
  
}